header {
    background-color: #132257;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.teamName {
    font-size: 2rem;
}

.logo img {
    height: 100px;
    width: auto;
}

