@import "../Helpers/shared.scss";

.table {
    background-color: $nearly-white;
    color: $nearly-black;
    width: 100%;
    margin: 1rem 1rem 1rem 0;
    border-top: 2px solid $nearly-white;
    border-bottom: 2px solid $nearly-white;
    @include xl {
        width: 50%;
    } 
    @include borders;
    .tableHead {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1rem 0;
    }
}

.teamLink {
    text-decoration: none;
    color: $nearly-black;
}

.teamWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: .75rem 0;
    border-top: 1px solid $light-grey;
    text-decoration: none;
    color: $nearly-black;
    &:nth-child(even) {
        background-color: #d4d4d4;
    }
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(18) {
        border-bottom: 1px dashed $nearly-black;
    }
}

.position,
.teamName,
.played,
.won,
.drawn,
.lost,
.goalsFor,
.goalsAgainst,
.goalDifference,
.points {
    text-align: left;
}
.position {
    width: 5%;
    margin-left: .25rem;
    @include md {
        margin-left: .75rem;
    }
    @include lg {
        margin-left: 1rem;
    }
}
.teamName {
    width: 35%;
    @include lg {
        width: 28%;
    }
}
.played,
.won,
.drawn,
.lost,
.goalsFor,
.goalsAgainst,
.goalDifference,
.points {
    width: 8%;
}

.won,
.drawn,
.lost,
.goalsFor,
.goalsAgainst {
    display: none;
}

.won,
.drawn,
.lost {
    @include md {
        display: block;
    }
}

.goalsFor,
.goalsAgainst {
    @include xxl {
        display: block;
    }
}