@import "../Helpers/shared.scss";

.statsWrapper {
    display: flex;
    flex-direction: column;
    background-color: $nearly-white;
    color: $nearly-black;
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border: 2px solid $nearly-white;
    @include borders;
    @include xl {
        width: 50%;
        margin: 1rem 0 1rem 1rem;
        padding: .5rem
    }
    a {
        @include link;
    }
    .teamInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
        @include xl {
            margin-bottom: 1rem;
        }
    }
}

.crestFounded {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
        width: 25%;
        height: auto;
        margin-bottom: 1rem;
        @include xl {
            margin-bottom: .5rem;
        }
    }
    h3 {
        text-align: left;
    }
    h2,
    h3,
    img {
        padding: .5rem 0;
    }
    .founded {
        margin-top: .5rem;
    }
}

.stadiumWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: .5rem;
    h3 {
        margin-bottom: 1rem;
        @include xl {
            margin-bottom: .5rem;
        }
    }
    p {
        margin-bottom: .75rem;
        @include xl {
            margin-bottom: .5rem;
        }
    }
    .stadium {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stadiumImage {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        @include xl {
            margin-top: 0;
        }
        img {
            width: 40%;
            height: auto;
            @include borders;
        }
    }
}

.teamStats {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @include sm {
        margin-left: 30%;
    }
    div {
        margin-bottom: .5rem;
    }
    .pens {
        display: flex;
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
    }
    .percentage {
        margin-left: .5rem;
        font-style: italic;
        @include sm {
            margin-left: 1rem;
        }
    }
    .form {
        letter-spacing: 3px;
    }
}